@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Lato|Oxygen|Raleway:100,200,300,400|Roboto+Mono|Roboto:100');

/*讓所有大小的計算以border-box為基礎*/

* {
    -webkit-box-sizing: border-box;
    -moz-boxsizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: whitesmoke
}

html {
    width: 100px;
    position: relative;
}

html:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 400px;
    background-color: red;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.resume {
    position: relative;
    width: 800px;
    background-color: darkslategrey;
    margin: 30px auto;
    z-index: 5;
}

header,
.intro,
.experience-list,
.footer {
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


/*    note header*/

header {
    background-color: burlywood padding: 25px;
    padding-bottom: 25px;
}

.name {
    font-size: 50px;
    letter-spacing: 8px;
    margin-top: 0;
    margin-bottom: 10px;
}

.name:before {
    content: "姓名";
}

.current-jobtitle {
    margin: 0;
}


/*note experience*/

.experience {
    border-bottom: 1px solid white;
}

.experience:last-child {
    border-bottom: none;
}


/*note footer*/

footer {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 30px;
    background-color: whitesmoke;
}

footer * {
    color: #272424
}
